<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">Dashboard</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-6">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#">Inicio</a></li>
                    <li class="breadcrumb-item active">Dashboard v1</li>
                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div class="container">

   <div class=" col-12 d-flex justify-content-center aling-items-center">

    <div class="card border border-primary" style="width: 50rem;">
        <img src="../../../assets/img/consultar1.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="blank" class="btn btn-dark">Consultar asignación</a>
        </div>
    </div>

    <div class="card border border-danger" style="width: 50rem;">
        <img src="../../../assets/img/consultar_asignacion.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="crear-producto" class="btn btn-dark">Crear asignación</a>
        </div>
    </div>

    <div class="card border border-success" style="width: 50rem;">
        <img src="../../../assets/img/usuarios.jpg" class="card-img-top" alt="...">
        <div class="card-body">
            <a href="admin-producto" class="btn btn-dark">Administrar Asignaciones</a>
        </div>
    </div>

   </div>

</div>


<!-- cuadros que ya estaban en el proyecto -->
<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <div class="row">
            <div class="col-lg-3 col-6 justify-content-center aling-items-center">
                <!-- small box -->
                <div class="small-box bg-info">
                    <div class="inner">
                        <h3>Crear asignación</h3>


                    </div>
                    <div class="icon">
                        <i class="ion ion-bag"></i>
                    </div>
                    <a href="crear-producto" class="small-box-footer">Ingrese aquí la información <i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-success">
                    <div class="inner">
                        <h3>Consultar asignación<sup style="font-size: 20px"></sup></h3>


                    </div>
                    <div class="icon">
                        <i class="ion ion-stats-bars"></i>
                    </div>
                    <a href="admin-producto" class="small-box-footer">Consulte con CC o nombre<i
                            class="fas fa-arrow-circle-right"></i></a>
                </div>
            </div>
            <!-- ./col -->
            <div class="col-lg-3 col-6">
                <!-- small box -->
                <div class="small-box bg-warning">
                    <div class="inner">
                        <h3 class="text-center text-secondary">44</h3>


                    </div>
                    <div class="icon">
                        <i class="ion ion-person-add"></i>
                    </div>
                    <a href="#" class="small-box-footer">Asignaciones realizadas </a>
                </div>
            </div>
            <!-- ./col -->

            <!-- ./col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- Main row -->
</section>
<!-- /.content -->
